[user]
	name = Naoyuki Ishida
	email = 39.ishida@gmail.com
[github]
  user   = Naoyuk
[alias]
  a      = !git add -A && git status
  cam    = commit --amend
  cancel = reset --soft HEAD^
  cm     = commit -m
  s      = status
  pom    = push origin main
  pog    = push origin gh-pages
  puom   = pull origin main
  puog   = pull origin gh-pages
  cob    = checkout -b
  co     = checkout
  l      = log --oneline --decorate --graph
  lall   = log --oneline --decorate --graph --all
  ls     = log --oneline --decorate --graph --stat
  lt     = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
  wip    = commit -m 'wip'
[color]
	ui = auto
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/naoyuki/.gitignore_global
  editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
	template = /Users/naoyuki/.stCommitMsg
